@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: SF-Pro;
    font-weight: 400;
    src: url(../public/fonts/SF-Pro-Display-Regular.otf);
  }
  @font-face {
    font-family: SF-Pro;
    font-weight: 700;
    src: url(../public/fonts/SF-Pro-Display-Heavy.otf);
  }
}
